@font-face {
	font-family: 'Thrums Serif';
	src: url('fonts/ThrumsSerif.eot');
	src: url('fonts/ThrumsSerif.eot?#iefix') format('embedded-opentype'),
		url('fonts/ThrumsSerif.woff') format('woff'),
		url('fonts/ThrumsSerif.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

p {
    font-family: Thrums Serif, sans-serif;
}
